.App {
  text-align: center;
  background: black;
}

.split {
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  left: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stats-container {
  background-color: #1d1d5d;
  top: 0;
  height: 45%;
}

.map-container {
  background-color: #1d1d2d;
  bottom: 0;
  height: 55%;
}
